<div class="row form-group">
	<div class="col-12 text-start">
		&nbsp;
	</div>
</div>
<div class="row form-group">
	<div class="col-6 text-start fw-bolder">
		แจ้งเตือน
	</div>
	<div class="col-6 text-end fw-bolder">
		+ดูทั้งหมด
	</div>
</div>
<div class="card">
	<div class="row-list" *ngFor="let item of NotificationList">
		<span class="badge rounded-pill bg-light text-dark badge-date">{{ item.created_at | date }}</span>
		<span class="badge rounded-pill bg-light text-dark badge-desc text-start"><a href="/{{ item.url }}">{{ item.description }}</a></span>
	</div>
	<div class="row-list" *ngIf="NotificationList.length == 0;">
		<div class="col text-center">
			ยังไม่มีรายการแจ้งเตือน
		</div>
	</div>
</div>