.noti-row{
	border-radius : 20px;
	background-color : #FFFFFF;

}

.badge-date{
	width:30%;	
	padding:10px;
}

.badge-desc{
	width:70%;	
	padding:10px;
}

.row-list{
	margin-top:5px;
	margin-bottom:5px;
}

card {
	padding : 20px;
}