<div class="container-fluid">
	<div class="row">
		<div class="col-4 offset-4">
			<div class="card card-container margin-top">
		
				<form [formGroup]="form"  (ngSubmit)="onSubmit()" class="padding">
					<div class="pb-2 mt-4 mb-2 border-bottom text-center">
						<img src="./assets/images/logo-lg.png" alt="image" class="logo">
						<br><br>
					    <h5>ลืมรหัสผ่าน</h5>
					    <h6>ระบบจะส่งรหัสผ่านใหม่ไปยังอีเมล์ที่ติดต่อได้ของท่าน</h6>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-floating mb-3">
							  <input type="email" class="form-control" id="floatingInput" placeholder="" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
							  <label for="floatingInput">e-Mail *</label>
							</div>
						</div>
					</div>
					
					<div class="alert alert-danger" *ngIf="error_message != null">
				      {{ error_message }}
				    </div>
					<div class="row">
						<div class="col text-center">
							<a class="btn btn-secondary btn-block" [routerLink]="['/']">
				              ยกเลิก
				            </a>&nbsp;
							<button class="btn btn-success" [disabled]="submitted">ยืนยัน</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ผลการเปลี่ยนแปลงรหัสผ่าน</h4>
  </div>
  <div class="modal-body">
    <p>
    	แก้ไขรหัสผ่านสำเร็จระบบจะทำการ Logout อัตโนมัติกรุณาเข้าสู่ระบบอีกครั้ง
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Confirm')">ออกจากระบบ</button>
  </div>
</ng-template>