<app-admin-menu [menu]="'ads'"></app-admin-menu>
<app-admin-page-header [name]="'ข่าวประกาศ'"></app-admin-page-header>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<form [formGroup]="form" (ngSubmit)="loadList()">
			  <div class="row">
			    <div class="col">
			      	<select class="form-control" formControlName="ads_type" placeholder="ประเภททั้งหมด">
			      		<option value="">ประเภททั้งหมด</option>
			      		<option value="ประกาศทั่วไป">ประกาศทั่วไป</option>
			      		<option value="ประกาศไปยังบุคลากร">ประกาศไปยังบุคลากร</option>
			      	</select>
			    </div>
			    <div class="col">
			      	<button type="submit" class="btn btn-primary">ค้นหา</button>&nbsp;
							<a type="button" class="btn btn-success" [routerLink]="['/admin-ads-management/update']">เพิ่มข้อมูล</a>
			    </div>
			  </div>
			</form>
			
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col" class="text-center">#</th>
			      <th scope="col" class="text-center">ประเภทประกาศ</th>
			      <th scope="col" class="text-center">ชื่อข่าวประกาศ</th>
			      <th scope="col" class="text-center">วันที่ประกาศเริ่มต้น</th>
			      <th scope="col" class="text-center">วันที่ประกาศสิ้นสุด</th>
			      <th scope="col" class="text-center">จัดการ</th>
			    </tr>
			  </thead>
			  <tbody *ngIf="submitted">
			  	<tr>
			  		<td colspan="5" class="text-center">
			  			กำลังค้นหา...
			  		</td>
			  	</tr>
			  </tbody>
			  <tbody *ngIf="!submitted">
			    <tr *ngFor="let item of list; let i = index">
			      <td scope="row">{{ i + 1 }}</td>
			      <td class="text-center">
			      	{{ item.ads_type }} 
			      	<span *ngIf="item.personnel_name != null">
			      		- {{ item.personnel_name }}
			      	</span>
			      </td>
			      <td class="text-center">{{ item.ads_name }}</td>
			      <td class="text-center">{{ item.start_date | date:'d MMMM y' }}</td>
			      <td class="text-center">{{ item.end_date | date:'d MMMM y' }}</td>
			      <td class="text-center">
			      	<a type="button" (click)="triggerModal(modalDeleteData, item.id)">
			      		<img src="./assets/images/delete-icon.png" class="icon-sm">
			      	</a>&nbsp;
				  	<a type="button" [routerLink]="['/admin-ads-management/update', item.id]">
				  		<img src="./assets/images/edit-icon.png" class="icon-sm">
				  	</a>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<ngb-pagination class="d-flex justify-content-end" [collectionSize]="(total_data)" [(page)]="page"></ngb-pagination>
	</div>
</div>

<ng-template #modalDeleteData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ยืนยันการลบข้อมูล</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
    	คุณต้องการลบข้อมูลข่าวประกาศนี้ ใช่หรือไม่ ?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close('Close Button')">ยกเลิก</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Confirm')">ยืนยัน</button>
  </div>
</ng-template>
