.noti-row{
	border-radius : 20px;
	background-color : #FFFFFF;

}

.badge-checkbox {
	width:5%;	
	padding:10px;
}

.badge-status{
	width:20%;	
	padding:10px;
}

.badge-desc{
	width:75%;	
	padding:10px;
}

.row-list{
	margin-top:5px;
	margin-bottom:5px;
}

.bg-blue{
	background-color: #3694E6;
	color: #FFFFFF;
}

card {
	padding : 20px;
}

a.a-button {
	color: #FFFFFF;
	text-decoration:none;
}

:root {
  --form-control-disabled: #959495;
}

input[type="checkbox"]:disabled {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}