.noti-row{
	border-radius : 20px;
	background-color : #FFFFFF;

}

.badge-status{
	width:20%;	
	padding:10px;
}

.badge-desc{
	width:80%;	
	padding:10px;
}

.row-list{
	margin-top:5px;
	margin-bottom:5px;
}

.bg-blue{
	background-color: #3694E6;
	color: #FFFFFF;
}

card {
	padding : 20px;
}