.box {
	height: 144px;
	background: #3E9EE8;
	border-radius: 20px;
	color : #FFFFFF;

}

.status_title{
	margin-top:10px;
}

.box-text{
	font-size: 1.5em;
	margin-left:10px;
}
.number-text{
	font-size: 1.7em;
}