<div class="col-md-4 offset-4">
  <div class="card card-container margin-top">
    
    <div class="row">
      <div class="col-md-12">
        <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate 
          class="padding"
        > <div class="form-group text-center">
          <img src="./assets/images/logo-lg.png" alt="image" class="logo">
          <br><br>
            <h3>ระบบประเมิน IDP</h3>
          </div>
          <div class="form-group">

            <label for="username">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              required
              [disabled]="submitted" 
              #username="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
              [disabled]="submitted" 
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="password.errors && f.submitted"
            >
              กรุณาตรวจสอบข้อมูลชื่อผู้ใช้งานและรหัสผ่าน
            </div>

            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="errorMessage"
            >
              ไม่พบผู้ใช้งาน กรุณาตรวจสอบข้อมูลชื่อผู้ใช้งานและรหัสผ่าน
            </div>
          </div>
          <div class="form-group text-center"><br>
            <button class="btn btn-primary btn-block more-shape" [disabled]="submitted">
              ลงชื่อเข้าใช้งาน
            </button>&nbsp;
            <a class="btn btn-secondary btn-block more-shape" [routerLink]="['/forgot-password']">
              ลิมรหัสผ่าน
            </a>
          </div>
          <div class="form-group">
            
          </div>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}.
        </div>
      </div>
    </div>
  </div>
</div>

