<app-menu></app-menu>
<div class="container-fluid">
	<div class="row">
		<div class="col-4 offset-4">
			<form [formGroup]="form"  (ngSubmit)="onSubmit()">
				<div class="pb-2 mt-4 mb-2 border-bottom text-center">
				      <h5>เปลี่ยนรหัสผ่าน</h5>
				</div>
				<div class="row">
					<div class="col">
						<label for="floatingInput">รหัสผ่านเดิม *</label>
						<div class="input-group">
						  <input [type]="show_old_password ? 'text' : 'password'" class="form-control" id="floatingInput" placeholder="" formControlName="old_password" [ngClass]="{ 'is-invalid': submitted && f['old_password'].errors }" minlength="4">
						  <div class="input-group-append">
							    <span class="input-group-text" (click)="isVisibilityOld()"><i class="fa fa-eye" aria-hidden="true"></i></span>
							  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						  <label for="floatingInput">รหัสผ่านใหม่ *</label>
						  <div class="input-group">
							  <input [type]="show_new_password ? 'text' : 'password'" class="form-control" id="floatingInput" placeholder="" formControlName="new_password" [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }" minlength="8">
							  <div class="input-group-append">
							    <span class="input-group-text" (click)="isVisibilityNew()"><i class="fa fa-eye" aria-hidden="true"></i></span>
							  </div>
						  </div>
					</div>
				</div>
				<div class="row pb-2">
					<div class="col">
						<label for="floatingInput">ยืนยันรหัสผ่าน *</label>
						<div class="input-group">
							<input [type]="show_confirm_password ? 'text' : 'password'" class="form-control" id="floatingInput" placeholder="" formControlName="confirm_password" [ngClass]="{ 'is-invalid': submitted && f['confirm_password'].errors }" minlength="8">
							<div class="input-group-append">
							    <span class="input-group-text" (click)="isVisibilityConfirm()"><i class="fa fa-eye" aria-hidden="true"></i></span>
							  </div>
						</div>
					</div>
				</div>
				<div class="alert alert-danger" *ngIf="error_message != null">
			      {{ error_message }}
		    </div>
				<div class="row">
					<div class="col text-center">
						<button class="btn btn-success" [disabled]="submitted">ยืนยัน</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<ng-template #modalSuccessData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ผลการเปลี่ยนแปลงรหัสผ่าน</h4>
  </div>
  <div class="modal-body">
    <p>
    	แก้ไขรหัสผ่านสำเร็จระบบจะทำการ Logout อัตโนมัติกรุณาเข้าสู่ระบบอีกครั้ง
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Confirm')">ออกจากระบบ</button>
  </div>
</ng-template>