<app-admin-menu [menu]="'discipline'"></app-admin-menu>
<app-admin-page-header [name]="'ข้อมูล ขาด / ลา / มาสาย'"></app-admin-page-header>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<form [formGroup]="form"  (ngSubmit)="onSubmit()">
			  <div class="row">
			  	<div class="col">
			      	<input class="form-control" formControlName="personnel_name" placeholder="ชื่อ - สกุล">
			    </div>
			    <div class="col">
			      	<select class="form-control" formControlName="personnel_work_unit" placeholder="สาขาวิชา">
			      		<option value="">สาขาวิชา</option>
			      		<option *ngFor="let work_unit of work_unit_list" value="{{work_unit.value}}">{{work_unit.name}}</option>
			      	</select>
			    </div>
			    <div class="col">
			      	<select class="form-control" formControlName="discipline_status" placeholder="การปฎิบัติงาน">
			      		<option value="">การปฎิบัติงาน</option>
			      		<option value="ปกติ">ปกติ</option>
			      		<option value="ขาด">ขาด</option>
			      		<option value="สาย">มาสาย</option>
			      	</select>
			    </div>
			  </div>
			  <div class="row">
			  	<div class="col">
			      	<input type="date" class="form-control" id="floatingInput" placeholder="วันที่" formControlName="discipline_date_from"  [disabled]="submitted">
			    </div>
			    <div class="col">
			      	<input type="date" class="form-control" id="floatingInput" placeholder="วันที่" formControlName="discipline_date_to" [ngClass]="{ 'is-invalid': f['discipline_date_to'].errors }" [disabled]="submitted">
			    </div>
			    <div class="col">
			      	<button type="submit" class="btn btn-primary">ค้นหา</button>&nbsp;
			      	<a [routerLink]="['/admin-discipline-management/update']" class="btn btn-secondary">บันทึกข้อมูลประจำวัน</a>
			    </div>
			  </div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col" class="text-center">#</th>
			      <th scope="col" class="text-center">คำนำหน้าชื่อ</th>
			      <th scope="col" class="text-center">ชื่อ</th>
			      <th scope="col" class="text-center">สกุล</th>
			      <th scope="col" class="text-center">สาขาวิชา</th>
			      <th scope="col" class="text-center">ตำแหน่ง</th>
			      <th scope="col" class="text-center">การปฎิบัติงาน</th>
			      <th scope="col" class="text-center">วันที่</th>
			      <th scope="col" class="text-center">รายละเอียด</th>
			      <th scope="col" class="text-center">จัดการ</th>
			    </tr>
			  </thead>
			  <tbody *ngIf="submitted">
			  	<tr>
			  		<td colspan="10" class="text-center">
			  			กำลังค้นหา...
			  		</td>
			  	</tr>
			  </tbody>
			  <tbody *ngIf="!submitted">
			  	<tr *ngIf="list.length == 0">
			  		<td colspan="10" class="text-center">
				  		ไม่พบการบันทึกข้อมูลบุคลากร
				  	</td>
			  	</tr>
			    <tr *ngFor="let item of list; let i = index">
			      <td scope="row">{{ i + 1 }}</td>
			      <td>{{ item.personnel_prefix }}</td>
			      <td>{{ item.personnel_name }}</td>
			      <td>{{ item.personnel_lastname }}</td>
			      <td>{{ item.personnel_work_unit }}</td>
			      <td>{{ item.personnel_position }}</td>
			      <td class="text-center">
			      	<span class="badge badge-primary" *ngIf="item.discipline_status == 'ปกติ'">{{ item.discipline_status }}</span>
			      	<span class="badge badge-danger" *ngIf="item.discipline_status == 'ขาด'">{{ item.discipline_status }}</span>
			      	<span class="badge badge-warning" *ngIf="item.discipline_status == 'สาย'">{{ item.discipline_status }}</span>
			      </td>
			      <td class="text-center">
			      	{{ item.discipline_date | date:'d MMMM y' }}
			      </td>
			      <td>
			      	{{ item.remark }}
			      </td>
			      <td class="text-center">
			      	<button class="btn btn-danger btn-sm"  (click)="triggerModal(modalData, item.id)">ลบ</button>&nbsp;
			      	<a class="btn btn-warning btn-sm" [routerLink]="['/admin-discipline-management/detail', item.id]">แก้ไข</a>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<ngb-pagination class="d-flex justify-content-end" [collectionSize]="(total_data)" [(page)]="page"></ngb-pagination>
	</div>
</div>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ยืนยันการลบข้อมูล</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
    	คุณต้องการลบข้อมูลขาด ลา มาสายนี้ ใช่หรือไม่ ?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close('Close Button')">ยกเลิก</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Confirm')">ยืนยัน</button>
  </div>
</ng-template>
