<div class="row form-group">
	<div class="col">
			<fieldset>
				<label><h5>วุฒิการศึกษา</h5></label>
			</fieldset>
			
			<div class="row">
				<div class="col text-end">
					<button type="button" class="btn btn-info btn-sm" (click)="updateFile(null)">เพิ่ม</button>
				</div>
			</div>

			<div *ngIf="is_update">
				<form  [formGroup]="form"  (ngSubmit)="onSubmit()">
					<div class="row pb-2">
						<div class="col-3">
							  <label for="floatingInput">คุณวุฒิ *</label>
							  <input type="text" class="form-control" id="floatingInput" placeholder="" formControlName="qualification" [ngClass]="{ 'is-invalid': submitted && f['qualification'].errors }">
						</div>
						<div class="col-4">
							  <label for="floatingInput">สาขาวิชาที่จบ *</label>
							  <input type="text" class="form-control" id="floatingInput" placeholder="" formControlName="graduated" [ngClass]="{ 'is-invalid': submitted && f['graduated'].errors }">
						</div>
						<div class="col-1">
							  <label for="floatingInput">ปีที่จบ *</label>
							  <input type="text" class="form-control" id="floatingInput" placeholder="" formControlName="graduated_year" [ngClass]="{ 'is-invalid': submitted && f['graduated_year'].errors }">
						</div>
						<div class="col-4">
							  <label for="floatingInput">สถาบันการศึกษา *</label>
							  <input type="text" class="form-control" id="floatingInput" placeholder="" formControlName="academy" [ngClass]="{ 'is-invalid': submitted && f['academy'].errors }">
						</div>
					</div>
					<!--
						<div class="row">
							<div class="col">
								<div class="form-floating mb-3">
								  <input 
						            formControlName="file"
						            id="file" 
						            type="file" 
						            class="form-control"
						            (change)="onFileChange($event)">
								  <label for="floatingInput">ไฟล์แนบ</label>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="attach_file_data && attach_file_data.file_path != null">
							<div class="col">
								<div class="alert alert-info">
									ไฟล์ปัจจุบัน : <a href="http://localhost/storage/{{attach_file_data.file_path}}" target="_blank">{{attach_file_data.file_name}}</a>
								</div>
							</div>
						</div>
					-->
					<div class="row" *ngIf="error_message != null">
						<div class="col">
							<div class="alert alert-danger">
								{{ error_message }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-center">
							<button type="button" class="btn btn-dark btn-sm" (click)="cancelUpdateFile()" [disabled]="submitted">ยกเลิก</button>&nbsp;
							<button class="btn btn-success btn-sm" type="submit" *ngIf="!submitted">บันทึกข้อมูล</button>
							<button type="button" class="btn btn-success btn-sm" *ngIf="submitted" [disabled]="submitted">กำลังบันทึก..</button>
						</div>
					</div>
				</form>
			</div>

			<div class="row">
				<div class="col">
					<table class="table">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col" class="text-center">คุณวุฒิ</th>
					      <th scope="col" class="text-center">สาขาวิชาที่จบ</th>
					      <th scope="col" class="text-center">ปีที่จบ</th>
					      <th scope="col" class="text-center">สถาบันการศึกษา</th>
					      <th scope="col" class="text-center" style="width: 20vh;">จัดการ</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr *ngIf="Files.length == 0">
					  		<td colspan="5" class="text-center">
					  			ยังไม่มีข้อมูล
					  		</td>
					  	</tr>
					  	<tr *ngFor="let item of Files">
					  		<td>{{ item.qualification }}</td>
					  		<td>{{ item.graduated }}</td>
					  		<td class="text-center">{{ item.graduated_year }}</td>
					  		<td>{{ item.academy }}</td>
					  		<td class="text-center">
					  			<a type="button" (click)="triggerModal(modalData, item.id)">
					      		<img src="./assets/images/delete-icon.png" class="icon-sm">
					      	</a>&nbsp;
							  	<a type="button" (click)="updateFile(item)">
							  		<img src="./assets/images/edit-icon.png" class="icon-sm">
							  	</a>
					  		</td>
					  	</tr>
					  </tbody>
					</table>
				</div>
			</div>
	</div>
</div>
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ยืนยันการลบข้อมูล</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
    	คุณต้องการลบข้อมูลวุฒิการศึกษานี้ ใช่หรือไม่ ?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close('Close Button')">ยกเลิก</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Confirm')">ยืนยัน</button>
  </div>
</ng-template>