<app-menu></app-menu>
<div class="container-fluid">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="row">
				<div class="col">
					<div class="pb-2 mt-4 mb-2 border-bottom text-center">
				      <h4>บันทึกข้อมูลกิจกรรม IDP</h4>
				</div>
				
				<form [formGroup]="form"  (ngSubmit)="onSubmit()">
					<div class="row">
					  	<div class="col-6">
					  		<label for="floatingInput">หัวข้อ</label>
					  		<select class="form-control" formControlName="activity_type" placeholder="หัวข้อ" [ngClass]="{ 'is-invalid': f['activity_type'].errors }">
					      		<option value="">กรุณาเลือก..</option>
					      		<option value="{{ item.name }}" *ngFor="let item of master_idp_list">{{ item.name }}</option>
				      		</select>
							<!-- <input type="text" class="form-control" id="floatingInput" placeholder="" formControlName="activity_type" [ngClass]="{ 'is-invalid': f['activity_type'].errors }" readonly="true"> -->
						</div>	
					</div>
					<div class="row">
					  	<div class="col-6">
							  <label for="floatingInput">ชื่อกิจกรรม</label>
							  <input type="text" class="form-control" id="floatingInput" placeholder="" formControlName="activity_idp_name" [ngClass]="{ 'is-invalid': f['activity_idp_name'].errors }">
						</div>	
					</div>
					<div class="row">
						<div class="col">
						    วันที่เข้าร่วม
						</div>	
					</div>
					<div class="row">
					  	<div class="col-6">
							  <label for="floatingInput">เริ่มต้น</label>
							  <input type="date" class="form-control" id="floatingInput" placeholder="" formControlName="participate_date_from" [ngClass]="{ 'is-invalid': f['participate_date_from'].errors }">
						</div>	
						<div class="col-6">
							  <label for="floatingInput">ถึง</label>
							  <input type="date" class="form-control" id="floatingInput" placeholder="" formControlName="participate_date_to" [ngClass]="{ 'is-invalid': f['participate_date_to'].errors }">
						</div>	
					</div>
					<fieldset>
						<legend>ไฟล์แนบ</legend>
						<div class="row">
						  	<div class="col-6">
						  		<label for="floatingInput">หนังสือเชิญ / กำหนดการ</label>
								<input 
							            formControlName="file1"
							            id="file1" 
							            type="file" 
							            class="form-control"
							            (change)="onFileChange1($event)">
							</div>	
							<div class="col" *ngIf="data.file_path_1 != ''">
								<div class="alert alert-info">
									ไฟล์ปัจจุบัน : <a href="{{storage_url}}/{{data.file_path_1}}" target="_blank">{{data.file_name_1}}</a>
								</div>
							</div>
						</div>
						<div class="row">
						  	<div class="col-6">
						  		<label for="floatingInput">ภาพเข้าร่วมกิจกรรม</label>
								<input 
							            formControlName="file2"
							            id="file2" 
							            type="file" 
							            class="form-control"
							            (change)="onFileChange2($event)">
							</div>	
							<div class="col" *ngIf="data.file_path_2 != ''">
								<div class="alert alert-info">
									ไฟล์ปัจจุบัน : <a href="{{storage_url}}/{{data.file_path_2}}" target="_blank">{{data.file_name_2}}</a>
								</div>
							</div>
						</div>
						<div class="row">
						  	<div class="col-6">
						  		<label for="floatingInput">ภาพจบกิจกรรม</label>
								<input 
							            formControlName="file3"
							            id="file3" 
							            type="file" 
							            class="form-control"
							            (change)="onFileChange3($event)">
							</div>	
							<div class="col" *ngIf="data.file_path_3 != ''">
								<div class="alert alert-info">
									ไฟล์ปัจจุบัน : <a href="{{storage_url}}/{{data.file_path_3}}" target="_blank">{{data.file_name_3}}</a>
								</div>
							</div>
						</div>
						<div class="row">
						  	<div class="col-6">
						  		<label for="floatingInput">ใบประกาศ</label>
								<input 
							            formControlName="file4"
							            id="file4" 
							            type="file" 
							            class="form-control"
							            (change)="onFileChange4($event)">
							</div>
							<div class="col" *ngIf="data.file_path_4 != ''">
								<div class="alert alert-info">
									ไฟล์ปัจจุบัน : <a href="{{storage_url}}/{{data.file_path_4}}" target="_blank">{{data.file_name_4}}</a>
								</div>
							</div>	
						</div>
						<div class="row">
						  	<div class="col-6">
						  		<label for="floatingInput">อื่นๆ</label>
								<input 
							            formControlName="file5"
							            id="file5" 
							            type="file" 
							            class="form-control"
							            (change)="onFileChange5($event)">
							</div>	
							<div class="col" *ngIf="data.file_path_5 != ''">
								<div class="alert alert-info">
									ไฟล์ปัจจุบัน : <a href="{{storage_url}}/{{data.file_path_5}}" target="_blank">{{data.file_name_5}}</a>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="row" *ngIf="error_message != null">
						<div class="col">
							<div class="alert alert-danger">
								{{ error_message }}
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col text-center">
							<button type="button" class="btn btn-dark" [disabled]="submitted" (click)="goBack()">ยกเลิก</button>&nbsp;
				  			<button type="submit" class="btn btn-success" *ngIf="!submitted">บันทึก</button>
				  			<button type="button" class="btn btn-success" *ngIf="submitted" [disabled]="submitted">กำลังบันทึก..</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>